<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Spring Boot HTML Example</title>
</head>
<body>

<h1>Migrationsprojekt</h1>

<br>

<h2>Quelltabelle</h2>
<table>
    <tr>
        <th>HashtagID</th>
        <th>HashtagName</th>
    </tr>
       <td>Test</td>
       <td>Test2</td>
    <tr>
    </tr>
    <td>Test</td>
    <td>Test2</td>
</table>

<br>

<h2>Zieltabelle</h2>
<table>
    <tr>
        <th>HashtagID</th>
        <th>HashtagName</th>
    </tr>
    <td>Test</td>
    <td>Test2</td>
    <tr>
    </tr>
    <td>Test</td>
    <td>Test2</td>
</table>

</body>
</html>
